<div ng-include="'app/templates/nav.html'"></div>
<section>
  <div id="wrapper">
    <ul id="gallery">

      <!--<div ng-repeat="images in imgs | orderBy: '-added'">-->

      <div ng-repeat="img in imgs">
        <li>
          <a href= "#/images/{{$index}}">
            <img src= {{img.image}} alt="">
            <h3>{{img.title}}</h3>
          </a>


          <!--<span ng-show="images.link">-->
          <!--{{images.link}} <br>-->
          <!--</span>-->

          added: {{img.added}} <br>

          <button ng-class="!{{img.favourite}} && 'btn-warning'
                                        || {{img.favourite}} && 'btn-danger'"
                  ng-click="favourite(img)"> &lt;3: {{img.favourite}} </button>

          <button ng-click="update(img)"> Using it Today </button>
        </li>
      </div>
    </ul>
  </div>

  <form class="image-form" ng-submit="addImg()">
    <input type="text" placeholder="Name" ng-model="title"><br>
    <input type="text" placeholder="Link" ng-model="link"><br>
    <button type="submit">Add new Img</button>
  </form>
</section>
